<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title th:text="${title}"></title>
</head>
<body>

<h1 th:text="${title}"></h1>
<hr/>
<ul id="index_menu">
    <li><a th:href="@{/people}">Personajes</a></li>
    <li><a th:href="@{/starships}">Naves</a></li>
    <li><a th:href="@{/vehicles}">Vehículos</a></li>
    <li><a th:href="@{/species}">Especies</a></li>
    <li><a th:href="@{/planets}">Planetas</a></li>
    <li><a th:href="@{/films}">Películas</a></li>
</ul>
</body>
</html>