<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.w3.org/1999/html" xmlns:layout="http://www.w3.org/1999/xhtml"
      xsi:schemaLocation="http://www.thymeleaf.org"
      layout:decorate="~{master.html}">

<title th:text="${title}"></title>
<head>
    <meta charset="utf-8">
    <title th:text="${title}"></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/movieslist.css}">
</head>
<body>
<header>

    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                     class="bi bi-camera-reels"
                     stroke="currentColor"  stroke-linecap="round" stroke-linejoin="round">
                    <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"/>
                    <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
                    <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                </svg>
                <strong>Movies</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main">
        <div  class="album py-5 bg-light">
            <div class="container">
                <div class="row" >
                    <div class="col-md-4" th:each="movie: ${movies}"
                        th:object="${movie}">
                        <div class="card mb-4 box-shadow" th:href="@{/movie/{id}(id=*{id})}">
                            <img class="card-img-top"
                                 th:src="|${urlImage}${movie.backdrop_path}|"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-text" th:text="*{title}"></h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--Total Movies [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]-->
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <nav aria-label="Pagination">
                                &nbsp; &nbsp; - &nbsp;
                                <ul class="pagination justify-content-center">
                                    <li class="page-item" th:classappend="@{prevPage == 0 ? 'disabled' : ''}">
                                        <a  class="page-link" th:href="@{'/movies/page/' + ${prevPage}}">Anterior</a>
                                    </li>
                                    <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}"
                                        th:classappend="${currentPage == i ? 'active' : ''} ">
                                        <a  class="page-link" th:href="@{'/movies/page/' + ${i}}"
                                            th:text="${i}"></a>
                                    </li>
                                    <li class="page-item" th:classappend="@{current == totalPages ? 'disabled' : ''}">
                                        <a  class="page-link" th:href="@{'/movies/page/' + ${nextPage}}">Siguiente</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
    </div>
</footer>
</body>
</html>